<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>指令</title>
    <script src="./js/vue.global.js"></script>
</head>

<body>
<div id="hello">
    <div>
        <h3>v-model:双向绑定</h3>
        <input type="text" v-model="message">
        <span>{{ message }}</span>
        <h3>v-bind:数据绑定到元素上</h3>
        <img v-bind:src="imgSrc" v-bind:title="imgTitle" style="width: 200px">
        <h3>v-if,v-else:条件判断</h3>
        请输入分数：<input type="text" v-model="score">
        <span v-if="score >= 60">及格万岁</span>
        <span v-else>继续努力</span>
        <h3>v-for:循环</h3>
        <ul>
            <li v-for="(item,index) in userList">{{ item.id }} - {{ item.name }}</li>
        </ul>
        <h3>v-on:事件监听器</h3>
        <button @click="light = !light">{{ light ? '关' : '开' }}</button>
        <span v-if="light">灯亮了</span>
        <span v-else>灯灭了</span>
        <h3>v-show:隐藏元素</h3>
        <button @click="isShow = !isShow">{{ isShow ? '滚' : '出来！' }}</button>
        <span v-show="isShow">你好世界</span>
    </div>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "hello",
                imgSrc: "https://img0.baidu.com/it/u=3781850591,1985855458&fm=253&fmt=auto&app=120&f=JPEG?w=500&h=500",
                imgTitle: "这是一张图片",
                score: '',
                userList: [
                    {id: 1, name: "张三"},
                    {id: 2, name: "李四"},
                    {id: 3, name: "王五"}
                ],
                light: false,
                isShow: false
            }
        }
    })
    app.mount("#hello")
</script>
</body>

</html>